<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
 
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/gvp" />
		<property name="username" value="root" />
		<property name="password" value="yourgame" />
		<property name="initialSize" value="10" />
		<property name="maxActive" value="500" />
		<property name="maxIdle" value="15" />
		<property name="minIdle" value="5" />
		<property name="maxWait" value="30000" />
	</bean>  
	
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingLocations">
			<list>
				<value>classpath:/com/gvp/po/*.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>

	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="jdbc" class="com.gvp.core.JdbcDao">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- JdbcDaoSupport 
		<bean id="jdbcDaoSupport" class="org.springframework.jdbc.core.support.JdbcDaoSupport">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
		</bean>-->

	<!-- jdbcTemplate  
		<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg ref="dataSource" />
		</bean>-->

	<!-- 配置事务的传播特性 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="a*" propagation="REQUIRED" />
			<tx:method name="b*" propagation="REQUIRED" />
			<tx:method name="c*" propagation="REQUIRED" />
			<tx:method name="d*" propagation="REQUIRED" />
			<tx:method name="e*" propagation="REQUIRED" />
			<tx:method name="f*" propagation="REQUIRED" />
			<tx:method name="g*" propagation="REQUIRED" />
			<tx:method name="h*" propagation="REQUIRED" />
			<tx:method name="i*" propagation="REQUIRED" />
			<tx:method name="j*" propagation="REQUIRED" />
			<tx:method name="k*" propagation="REQUIRED" />
			<tx:method name="l*" propagation="REQUIRED" />
			<tx:method name="m*" propagation="REQUIRED" />
			<tx:method name="n*" propagation="REQUIRED" />
			<tx:method name="o*" propagation="REQUIRED" />
			<tx:method name="p*" propagation="REQUIRED" />
			<tx:method name="q*" propagation="REQUIRED" />
			<tx:method name="r*" propagation="REQUIRED" />
			<tx:method name="s*" propagation="REQUIRED" />
			<tx:method name="t*" propagation="REQUIRED" />
			<tx:method name="u*" propagation="REQUIRED" />
			<tx:method name="v*" propagation="REQUIRED" />
			<tx:method name="w*" propagation="REQUIRED" />
			<tx:method name="x*" propagation="REQUIRED" />
			<tx:method name="y*" propagation="REQUIRED" />
			<tx:method name="z*" propagation="REQUIRED" />
			<tx:method name="*" read-only="true" />
		</tx:attributes>
	</tx:advice>


	<!-- 配置哪些类的哪些方法使用事务 -->
	<aop:config>
		<aop:pointcut id="allManagerMethod" expression="execution(* com.gvp.service.impl.*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="allManagerMethod" />
	</aop:config>


	<!-- 日志管理器 -->
	<bean id="systemLogInterceptor" class="com.gvp.core.SystemLogInterceptor" scope="prototype">
		<property name="publicService" ref="publicService" />
	</bean>

	<bean id="page" class="com.gvp.core.Page" scope="prototype" />

	<bean id="publicDao" class="com.gvp.dao.impl.PublicDao">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="jdbc" ref="jdbc" />
	</bean>
	<bean id="publicService" class="com.gvp.service.impl.PublicService">
		<property name="publicDao" ref="publicDao" />
	</bean>
	<bean name="fileAction" class="com.gvp.action.FileAction" scope="prototype">
		<property name="publicService" ref="publicService" />
		<property name="page" ref="page" />
	</bean>
	<bean name="publicAction" class="com.gvp.action.PublicAction" scope="prototype">
		<property name="publicService" ref="publicService" />
		<property name="page" ref="page" />
	</bean>
</beans>
