html {
	overflow-y: auto !important; *
	overflow-y: scroll;
}
.sepinfo {
	height: 20px;
	line-height: 20px;
	margin: 0 0 6px;
	white-space:nowrap;
}

.todayMain {
	padding-left: 8px;
}

.todayTool {
	float: right;
	display: inline;
	margin-right: 10px;
	width: 300px;
}

.todayMain .updateInfo {
	padding: 13px 0 0 2px;
}

.todayMain .enterul2 {
	margin-left: 5px;
}

.todayMain .enterul2 li {
	width: 49%;
	float: left;
	padding: 0 0 2px;
	display: inline;
	white-space: nowrap;
	overflow: hidden;
}

.todayNotice {
	margin: 5px 10px 5px 9px;
}

.tipnew {
	position: absolute;
	margin: -3px 0 0 2px;
	color: #ff0000;
	font: normal 10px tahoma;
}

.infobar {
	padding: 8px 4px 6px 10px;
	margin-top: -4px
}

.infobar p {
	margin: 6px 0 6px 0;
	padding: 0 0 0 0;
}

.filternone {
	filter: none;
}

.myaccountinfo {
	height: 38px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.bigwelcome {
	font: bold 16px Verdana;
}

.greeting {
	margin: 4px 0 0 2px
}

.greeting img {
	margin: -2px 0 0 0 !important;
	margin: 0;
}

.unreadmail,.unreadflag {
	margin: 0 0 0 2px;
	padding: 0;
	list-style: none;
}

.unreadflag {
	margin-top: 10px;
	margin-bottom: 10px !important;
	margin-bottom: 0;
}

.sepfolder {
	white-space: nowrap;
	margin-right: 5px
}

.posli {
	margin-top: 4px !important;
	margin-top: 0;
	line-height: 19px;
}

.flagtotal {
	margin: 0 2px 0 0;
}

.weatherul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.weatherul li {
	float: left;
}

.wtom,.clearall {
	clear: both;
}

.weathercontent {
	padding: 10px 0 0 7px
}

.noborder {
	border: none;
}

.face_tip {
	margin: -6px 0 8px 0;
	padding-left: 4px;
	color: #494949;
	border: none;
	clear: none;
	font-size: 12px;
	height: 30px;
}

.entertip {
	margin: 0;
	padding: 4px 0 0 11px;
	font: normal 14px Verdana;
}

.enterimg {
	margin: 0 6px 0 0;
	float: left;
	width: 27px;
	height: 27px;
	border: none;
}

.enterlink {
	float: left;
	display: block;
	margin: 3px 0 0 0;
}

.enterlink1 {
	float: left;
	display: block;
	margin: 5px 0 0 0; *
	margin: 7px 0 0 0;
}

.tipbook-top {
	border-bottom: 1px solid #d8dee5;
}

ul.tipbook {
	border-top: 1px solid #d8dee5;
	margin: 0 13px;
	padding: 13px 0 0 0;
	list-style: none;
}

ul.tipbook li {
	height: 28px;
}

.graydiv {
	font: normal 12px Verdana;
	margin: 6px 0 0 1px;
}

.border_white {
	border: none !important;
	border: 1px solid #fff;
	font-size: 14px;
}

.mailinfo1 {
	padding: 8px 0 0;
	overflow: hidden;
	zoom: 1;
	line-height: 22px;
	font-size: 14px;
	width: auto;
	border-bottom: 1px solid #fff;
}

.weather {
	right: 6px
}

.icon_exmail {
	width: 13px;
	height: 13px;
	background: url(../images/newicon/mail01383f.png) no-repeat -16px -192px;
	margin-right: 2px;
}

.icon_lab {
	width: 12px;
	height: 12px;
	background: url(../images/newicon/mail01383f.png) no-repeat -31px -142px;
	margin-right: 2px;
}

.icon_dom {
	width: 14px;
	height: 14px;
	background: url(../images/newicon/mail01383f.png) no-repeat -96px -142px;
	margin-right: 2px;
}

.rank span {
	display: block;
	float: left;
	margin: 1px 1px 0 0;
}

.tipstitle_title {
	font: normal 14px Verdana;
	margin-bottom: 5px;
	padding-left: 10px;
	padding-top: 7px;
}

.welcomeinfo {
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 5px;
	white-space:nowrap;
}

.sepcontent {
	margin-top: 10px;
}

.firstpart {
	margin: 18px 0 0 0;
	padding-left: 88px;
}

.firstpart b.addrtitle {
	display: none;
}

.firstpart span.content {
	font: normal 14px Verdana;
	color: #000;
	margin: 21px 0 3px;
	display: block;
}

.firstpart span.content a {
	
}

.firstpart div.addrtitle {
	margin: 2px 0 0;
	height: 41px;
	line-height: 17px;
}

.seppart {
	clear: left;
}

.seppart b.addrtitle {
	font-weight: normal;
	color: #000;
}

.seppart div.addrtitle {
	display: none;
}

.entertip_old {
	margin: 0;
	padding: 6px 0 0 11px;
	font: bold 14px Verdana;
}

a.black,a.black:active,a.black:visited {
	text-decoration: none;
	color: #000;
}

a.black:hover {
	text-decoration: underline;
}

.qm_msg {
	position: none;
	float: none;
	margin: -4px 0 6px;
	padding: 5px 8px;
}

.replytab {
	margin: 0 0 0 0;
	border-width: 0 0 1px 0 !important;
	padding: 4px 0 0 4px;
}

.replytab .tab {
	float: left;
	margin: 0;
	width: 90px;
	margin: 0 0 0 0 !important;
}

.replytab .tab a {
	display: block;
	padding: 4px 0;
	width: 90px;
	text-align: center;
}

.replytab .active {
	border-width: 1px 1px 1px 1px;
	height: 22px;
	border-bottom: 1px solid #fff;
}

.replytab .active a {
	height: 20px;
	text-decoration: none;
	background: #fff;
	color: #000;
	cursor: default;
}

.replytab .normal {
	height: 22px;
	border-width: 1px !important;
}

.replytab .normal a {
	height: 22px;
	text-decoration: none;
	cursor: pointer;
}

.pInfoItem {
	overflow: hidden;
	zoom: 1;
	clear: both;
	margin: 10px 3px;
}

.pInfoItem .itemHead {
	float: left;
	width: 65px; *
	margin-top: 2px;
}

.level_image,.measure_image {
	margin: 0 3px -3px 0;
}  /* blue */
.index_today_1 {
	background: url(../images/newicon/today012251.png) -1px 0 no-repeat;
}

.index_today_2 {
	background: url(../images/newicon/today012251.png) 0 -27px no-repeat;
}

.index_today_3 {
	background: url(../images/newicon/today012251.png) 0 -54px no-repeat;
}

.index_today_4 {
	background: url(../images/newicon/today012251.png) 0 -81px no-repeat;
}

.index_today_5 {
	background: url(../images/newicon/today012251.png) 1px -109px no-repeat;
}

.index_today_6 {
	background: url(../images/newicon/today012251.png) 0 -135px no-repeat;
}

.unread_folderlist a {
	margin: 0 10px 0 0;
	white-space: nowrap;
}

.todayInfoPanelTab {
	height: 28px;
	padding: 0 0 0 4px;
	margin-bottom: 0;
	border-width: 0 0 1px;
}

#rightPanelTitle_normal .tab_list {
	font-size: 12px;
	float: left;
	padding: 4px 10px;
	border-width: 1px 1px 0;
	margin: 4px 3px 0 0; *
	padding-top: 5px;
}

#rightPanelTitle_normal .actived {
	background: #fff;
	border-bottom: 2px solid #fff;
}

.line_tab_bt {
	border-width: 1px 0 0;
	height: 0;
	overflow: hidden;
	margin-top: 0; *
	margin-top: -2px;
}

.todaybottominfo {
	margin: 15px 0 0 10px;
}

.level_no {
	margin-top: 4px;
	margin-bottom: 4px;
}

.tips_phone {
	position: relative;
	font-weight: lighter;
	font-size: 12px;
	padding: 0 0 0 10px;
	line-height: 30px;
	margin: 20px 0 0 0;
	background: #FEFBE4;
	border: 1px solid #BEB49C;
	height: 30px;
	width: auto;
}

.btn_close {
	position: absolute;
	right: 5px;
	top: 10px;
	background: #FEFBE4 url(../images/newicon/newtips.gif) repeat-x scroll -50px 0;
	width: 10px;
	height: 10px;
}

.btn_close span {
	display: none;
}

.cellphonenum {
	width: 16px;
	height: 19px;
	background: url(../images/newicon/today012251.png) -32px -66px no-repeat;
	margin: 0 5px -2px 0;
}

.skinsetting {
height:auto;
margin-left:2%;
}
.skinsetting img {
height:58px;
margin:2px 0 0;
width:58px;
}
.skinsetting div {
float:left;
height:90px;
margin:2px 1px;
width:86px;
}
.skinsetting div table {
height:84px;
width:100%;
}
.skinsetting div td {
height:auto;
padding:2px 0 0;
text-align:center;
}
