<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<bean id="userService" class="com.lhq.service.impl.UserService">
		<property name="userDao" ref="userDao" />
		<property name="permissionsDao" ref="permissionsDao" />
	</bean>
	<bean id="deptService" class="com.lhq.service.impl.DeptService">
		<property name="deptDao" ref="deptDao" />
	</bean>
	<bean id="permissionsService" class="com.lhq.service.impl.PermissionsService">
		<property name="permissionsDao" ref="permissionsDao" />
	</bean>
	<bean id="stationService" class="com.lhq.service.impl.StationService">
		<property name="stationDao" ref="stationDao" />
	</bean>
	<bean id="seatService" class="com.lhq.service.impl.SeatService">
		<property name="seatDao" ref="seatDao" />
	</bean>
	<bean id="gridService" class="com.lhq.service.impl.GridService">
		<property name="gridDao" ref="gridDao" />
	</bean>
	<bean id="dispenseService" class="com.lhq.service.impl.DispenseService">
		<property name="dispenseDao" ref="dispenseDao" />
	</bean>
	<bean id="getDataService" class="com.lhq.service.impl.GetDataService">
		<property name="getDataDao" ref="getDataDao" />
	</bean>
</beans>
