<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<!--
		<bean name="authorityAction" class="cn.topneedle.core.AuthorityAction" scope="prototype"/>
	-->
	<bean name="gridAction" class="com.lhq.action.GridAction" scope="prototype">
		<property name="gridService" ref="gridService" />
		<property name="stationService" ref="stationService" />
		<property name="seatService" ref="seatService" />
	</bean>
	<bean name="seatAction" class="com.lhq.action.SeatAction" scope="prototype">
		<property name="seatService" ref="seatService" />
		<property name="stationService" ref="stationService" />
	</bean>
	<bean name="stationAction" class="com.lhq.action.StationAction" scope="prototype">
		<property name="stationService" ref="stationService" />
	</bean>
	<bean name="deptAction" class="com.lhq.action.DeptAction" scope="prototype">
		<property name="deptService" ref="deptService" />
	</bean>
	<bean name="dispenseAction" class="com.lhq.action.DispenseAction" scope="prototype">
		<property name="dispenseService" ref="dispenseService" />
	</bean>
	<bean name="getDataAction" class="com.lhq.action.GetDataAction" scope="prototype">
		<property name="getDataService" ref="getDataService" />
	</bean>
	<bean name="userAction" class="com.lhq.action.UserAction" scope="prototype">
		<property name="userService" ref="userService" />
		<property name="permissionsService" ref="permissionsService" />
		<property name="deptService" ref="deptService" />
	</bean>
</beans>
